<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Store - Admin</title>
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.6/yeti/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    
    <div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"><a href="#">Hello Admin</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="/#/admin/products">Products</a></li>
            <li><a href="#">Services</a></li>
        </ul>
    </div>

    <!-- Page content -->
    <div id="page-content-wrapper">
        <div class="content-header">
            <h1>
                <a id="menu-toggle" href="#" class="btn btn-default"><i class="glyphicon glyphicon-th-list"></i></a>
                Products
            </h1>
        </div>
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Asus 1</td>
                        <td>Computers</td>
                        <td>Asus 1 laptop</td>
                        <td>17000</td>
                      </tr>
                      <tr>
                        <td>Dell 2</td>
                        <td>Computers</td>
                        <td>Dell notebooks</td>
                        <td>21000</td>
                      </tr>
                      <tr>
                        <td>Acer</td>
                        <td>Computers</td>
                        <td>Acer notebooks</td>
                        <td>14500</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="js/index.js"></script>
</body>
</html>