<div class="container">
    <div class="jumbotron text-center">
        <h1>Welcome to bank, we have <span class="label label-info">{{accounts}}</span> clients!</h1>
    </div>

    <div id="account-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form class="form-signin" ng-submit="loginUser(formData)">
                <div class="form-group">

                    <input type="text" ng-model="formData.login" class="form-control input-lg text-center" placeholder="Type your login here" required>
                    <input type="password" ng-model="formData.password" class="form-control input-lg text-center" placeholder="Enter your password here" required>
                </div>

                <button type="submit" class="btn btn-primary btn-lg">Sign In</button>
            </form>
            <a href="/signup" class="text-center new-account">Create an account</a>
        </div>
    </div>
</div>