    <!--<div class="jumbotron text-center">-->
        <!--<h1>Become our {{accounts.length + 1}} client!</h1>-->
    <!--</div>-->

    <!--<div id="account-form" class="row">-->
        <!--<div class="col-sm-8 col-sm-offset-2 text-center">-->
            <!--<form class="form-signin" action="/signup" method="post">-->
                <!--<div class="form-group">-->

                    <!--<input type="text" class="form-control input-lg text-center" placeholder="Type your login here" ng-model="formData.login">-->
                    <!--<input type="password" class="form-control input-lg text-center" placeholder="Enter your password here" ng-model="formData.password">-->
                <!--</div>-->

                <!--<button type="submit" class="btn btn-primary btn-lg">Sign In</button>-->
            <!--</form>-->
            <!--<a href="/index" class="text-center new-account">Sign in</a>-->
        <!--</div>-->
    <!--</div>-->

    <!DOCTYPE html>
    <html ng-app="Bank">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>Bank</title>

        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <style>
            html                    { overflow-y:scroll; }
            body                    { padding-top:50px; }
            #account-list              { margin-bottom:30px; }
        </style>


        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
        <script type="text/javascript" src="core.js"></script>
    </head>

    <body ng-controller="mainController">


    <div class="container">
        <div class="jumbotron text-center">
            <h1>Become our <span class="label label-info">{{accounts.length}}</span> client!</h1>
        </div>

        <div id="account-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form class="form-signin" ng-submit="createAccount(formData)">
                    <div class="form-group">

                        <input type="text" class="form-control input-lg text-center" placeholder="Type your login here" ng-model="formData.login">
                        <input type="password" class="form-control input-lg text-center" placeholder="Enter your password here" ng-model="formData.password">
                    </div>

                    <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
                </form>
                <a href="/login" class="text-center new-account">Log in</a>
            </div>
        </div>
    </div>
    </body>
    </html>