<div class="products col s9">
  <div class="product" ng-repeat="product in products">
    <div class="product-top">
      <a href="#">
        <img ng-src="{{product.image}}" alt="" />
      </a>
    </div>
    
    <div class="product-bottom">
      <h5>
        <a href="#">
          {{product.title}}
        </a>
      </h5>

      <div class="product-price">
        <h6>{{product.price | currency}}</h6>
        <a class="waves-effect waves-light btn">Add to Cart</a>
      </div>

    </div>

  </div>
</div>
