<div class="categories col s3">
  <h3>Categories</h3>
  <ul>
    <li ng-repeat="category in categories"><a ng-click="filterByCategory(category)">{{category}}</a></li>
  </ul>
  <ul>
    <li><a ng-click="showAll()">Show all</a></li>
  </ul>
</div>

<div class="item-page col s9">
  <div class="row">
    <div class="item-image col s4">
      <img ng-src="{{item.image}}" alt="" />
    </div>

    <div class="item-info col s8">
      <h4>{{item.title}}</h4>
      <div class="item-buy">
        <span >
          {{item.price | currency}}
        </span>
        <a class="waves-effect waves-light btn modal-trigger" ng-class="{'btn disabled': !user}" ng-click="addToCart()">Add to Cart</a>
      </div>
      <div>
        <p>
          {{item.count}} items available
        </p>
      </div>
      <div>
        <a class="btn-floating btn waves-effect waves-light blue" ng-click="decreaseItemsNumber()"><i class="material-icons">remove</i></a>
        <input type="text" name="name" ng-model="item.amountToBuy">
        <a class="btn-floating btn waves-effect waves-light red" ng-click="increaseItemsNumber()"><i class="material-icons">add</i></a>
      </div>
      <div class="">
        <p>
          {{item.description}}
        </p>
      </div>

    </div>

  </div>


</div>
