<div class="container">
  <div class="row">

    <nav>
      <div class="nav-wrapper">
        <a ui-sref="store({id: store._id})" class="brand-logo">{{store.name}}</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li ng-show="user">Hello, {{user.name}}</li>
          <li><a ui-sref="store.login" ng-hide="user">Log in</a></li>
          <li ng-show="user"><a ng-click="logout()">Log out</a></li>
          <li><a ui-sref="store.register" ng-hide="user">Register</a></li>
          <li><a href="#">Cart</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li ng-show="user">{{user.name}}</li>
          <li><a ui-sref="store.login" ng-hide="user">Log in</a></li>
          <li ng-show="user"><a ng-click="logout()">Log out</a></li>
          <li><a ui-sref="store.register" ng-hide="user">Register</a></li>
          <li><a href="#">Cart</a></li>
        </ul>
      </div>
    </nav>

    <div class="col s12">
      <div class="row">

        <div ui-view="storeFront">

          <div ui-view="categories">

          </div>

          <div ui-view="products">

          </div>

        </div>

      </div>

    </div>

  </div>


</div>
