<div class="container">
  <div class="row">

    <nav>
      <div class="nav-wrapper">
        <a ui-sref="store({id: store._id})" class="brand-logo">{{store.name}}</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li ng-show="user">Hello, {{user.name}}</li>
          <li><a ui-sref="store.login" ng-hide="user">Log in</a></li>
          <li ng-show="user"><a ng-click="logout()">Log out</a></li>
          <li><a ui-sref="store.register" ng-hide="user">Register</a></li>
          <li><a href="#">Cart</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li ng-show="user">{{user.name}}</li>
          <li><a ui-sref="store.login" ng-hide="user">Log in</a></li>
          <li ng-show="user"><a ng-click="logout()">Log out</a></li>
          <li><a ui-sref="store.register" ng-hide="user">Register</a></li>
          <li><a href="#">Cart</a></li>
        </ul>
      </div>
    </nav>

    <div ui-view>

      <div class="col s12">
        <div class="row">

          <div class="categories col s3">
            <h3>Categories</h3>
            <ul>
              <li ng-repeat="product in products | unique: 'category'"><a href="#">{{product.category}}</a></li>
            </ul>
          </div>

          <div class="products col s9">
            <div class="product" ng-repeat="product in products">
              <div class="product-top">
                <a href="#">
                  <img ng-src="{{product.image}}" alt="" />
                </a>
              </div>

              <div class="product-bottom">
                <h5>
                  <a href="#">
                    {{product.title}}
                  </a>
                </h5>

                <div class="product-price">
                  <h6>{{product.price | currency}}</h6>
                  <a class="waves-effect waves-light btn">Add to Cart</a>
                </div>

              </div>

            </div>
          </div>

        </div>

      </div>
    </div>

  </div>


</div>
